Package: com.quyhoang.fxy
Name: QuyHoang Fxy - Elite Luxury
Depends: mobilesubstrate
Version: 4.8
Architecture: iphoneos-arm
Description: Elite Luxury Mod Menu by QuyHoangFxy
Maintainer: QuyHoangFxy
Author: QuyHoangFxy
Section: Tweaks
